<p>cv works!</p>
    <p class="col-sm-3 ">Software Engineer</p>
    <p class="col-sm-9 text-muted">Infosys Contractor at UBS, April 2021 – Present</p>
<ul>
    <li>
        Analyzed enterprise middleware applications for vulnerabilities and necessary updates, and suggested best
        remediation options compliant with client’s guidelines.
    </li>
    <li>
        Solely implemented first updates to key Infrastructure as a Service (IaaS) Enterprise Application –
        responsible for handling inter-application communication relating to user VM subscriptions globally – in over 8
        years.
    </li>
    <li>
        Updates performed include zero-day CVE remediations and credential security tightening of non-personal
        technical accounts integrated within the software through certificate assignment and implementation of a
        credential management tool (HashiCorp Vault) to the software.
    </li>
    <li>
        Adhered to all necessary Key Procedural Controls (KPCs) of the Software Development Life Cycle (SDLC),
        including Quality Assurance (QA) Gates, and Architectural and System Dependencies.
    </li>
    <li>
        Updated software documentation relating to implemented upgrades and remediations on various platforms,
        including Central Confluence and Gitlab Wiki.
    </li>
    <li>
        Led a team of three developers through project deliverables, hands-on training and daily stand-ups,
        organizing team effort through Kanban-styled GitLab Issue Boards.
    </li>
    <li>
        Onboarded, trained, upskilled, and worked collaboratively across multiple teams – Production, System
        Administrators, Azure Stack and Migration, among others – in a fully-remote DevOps environment.
    </li>
    <li>
        Experience developing fully functional SPAs and integrating them with a Spring backend.
    </li>
</ul>

<p class="col-sm-3 ">Operations Coordinator</p>
<p class="col-sm-9 text-muted">Fooda, July 2018 – August 2020</p>
<ul>
    <li>
        Maintained client-facing website by managing and standardizing data input by onboarding new partners and initiating best
        practices from the beginning of the partnership.
    </li>
    <li>
        Documented various company procedures and created training manuals for internal team members.
    </li>
    <li>
        Coordinated daily, weekly, and ad hoc events for a range of clients with diverse budgets, specifications, and
        needs across New York City, while at the same time cultivating strong professional relationships to ensure
        continued partnership.
    </li>
    <li>
        Coached team members on troubleshooting daily issues, website concerns, and company procedures, and
        fostered a culture of collective progress by advocating for and motivating team members to succeed.
    </li>
    <li>
        Received company-wide recognition in August ‘19 for demonstrating resilience, perseverance, and
        exceptional professional growth; Promoted within the first 6 months to lead a team of 15 Onsite Coordinators.
    </li>
</ul>

