<!-- This is the Navigation Bar at the top of the screen -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <div class="navbar-brand mb-0 h1" routerLink="/">
            {{title}}
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/"> Portfolio </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- 
   RouterLink => https://angular.io/api/router/RouterLink
   RouterModule => https://angular.io/api/router/RouterModule
 -->